.dash-body{
    box-sizing: border-box;
    height:auto;
    width: 100%;
    background-color: #E7EBFF;
    font-family:var(--t1)
}

Link{
    text-decoration: none;
}
.dash-navbar{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px;
    height:100px;
    width:100%;
    background-color: rgb(255, 255, 255);
}

.search{
    display: flex;
    align-items: center;
    gap:5px;
}

.dash-navbar input{
    height: 40px;
    width: 200px;
    border-radius:10px 0 0px 10px;
    outline: gray;
    border: 1px solid gray;
    padding-left: 20px;
}

.search-img{
    height: 44px;
    width: 44px;
    background-color: rgb(190, 190, 190);
    transform: translateX(-10px);
    border-radius:0px 10px 10px 0px;
}

.dash-navbar .right{
    display: flex;
    justify-content: space-around;
    gap:30px;
}

.profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(107, 129, 230);
    font-size: 30px;
    font-weight: bold;
    color:white;
    display: grid;
    place-content: center;
}

.settings{
    height: 50px;
    width: 50px;
}

.settings img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dash-main{
    padding:30px;
}

.analytics-stats{
    display: flex;
    justify-content: space-around;
}

.analytics-stats >div{
    height: 200px;
    width:180px;
    box-shadow: 0px 4px 5px 0px rgb(196, 196, 196);
    border-radius: 20px;
    background-color: white;
    margin-bottom:80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    
}

.analytics-stats >div > div:nth-child(2){
    font-size: 40px;
}

.analytics-stats div img{
    height:50px;
    width: 50px;
    
}

.dash-charts{
    width:70%;
    height:auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 5px 0px rgb(196, 196, 196);
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    flex:3/3;
    align-items: center;
}

.dash-charts div{
    height: 200px;
    margin-top:25px;
    margin-bottom: 25px;
    width:30%;
    background-color: white;
    /* box-shadow: 0px 4px 5px 2px rgb(196, 196, 196); */
    border-radius: 15px;
    overflow: hidden;
}

.dash-charts div img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.dash-bottom{
    display: flex;
    justify-content: space-around;
}

.dash-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dash-buttons div{
    background-color: #5F6EFB;
    box-shadow: inset 3px 8px 8px rgb(48, 108, 237);
    width:auto;
    height: 60px;
    padding:0px 15px 0px 15px;
    border-radius: 50px;
    display: grid;
    place-content: center;
    font-size:26px;
    color:white;
    transition: 0.35s ease-in-out;
}

.dash-buttons div:hover{
    cursor: pointer;
    box-shadow: inset 1px 48px 48px rgb(71, 48, 225);
    transition: 0.35s ease-in-out;
}
